@charset "UTF-8";

* {
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box;
}

:root {
    /*temporada - 1 */
    --cor:;
    --cor:;
    --cor:;
    --cor:;
    --cor:;

    /*temporada - 2 */
    --cor:;
    --cor:;
    --cor:;
    --cor:;
    --cor:;

    /*temporada - 3 */
    --cor:;
    --cor:;
    --cor:;
    --cor:;
    --cor:; 

    /*temporada - 4 */
    --cor:;
    --cor:;
    --cor:;
    --cor:;
    --cor:;

    /*temporada - 5 */
    --cor:;
    --cor:;
    --cor:;
    --cor:;
    --cor:;

}

body {
    background-color: rgb(255, 255, 255);
}

main {
    background-color: black;
    padding: 20px ;

}


    section#temporada-1 {
        
    }
        video {
            
                
        }
        div#temp-1 {
            
        }


    section#temporada-2 {
        
    }
        video {
                
        }
        div#temp-2 {
        
        }


    section#temporada-3 {
        
    }
        video {
                
        }
        div#temp-3 {
            
        }


    section#temporada-4 {
        
    }
        video {
                
        }
        div#temp-4 {
            
        }


    section#temporada-5 {
        
    }
        video {
                
        }
        div#temp-5 {
            
        }

