@charset "UTF-8";

/*Falta escolher a fonte do site*/

* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}
 
:root { 
    --cor1: #FF7702 ;
    --cor2: #FE3500 ;
    --cor3: #FE0000 ;
    --cor4: #ffffff ;
    --cor5: #000000 ;
}

@media screen and (max-width: 640px ) {
    body {
        background-color: black;
    }
        header {
            background-color: black;
        }
            img {
                max-width: 100vw;
                max-height: 45vh ;
                display: block ;
                margin: auto;
            }
        
        main {
            padding: 20px;
            background-color: var(--cor4);
        }
            menu > ul > li {
                list-style-type: none ;
            }
                a { 
                    text-decoration: none;
                }
                    a:hover {
                        text-decoration: none; 
                    }
                    a:active {
                        text-decoration: none;
                    }
                            
    


}
