@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}
 
:root { /*paleta de cores para tela inicial*/
    --cor1: #FF7702 ;
    --cor2: #FE3500 ;
    --cor3: #FE0000 ;
    --cor4: #ffffff ;
    --cor5: #000000 ;
}
 

@media screen and (min-width: 2561px ) {

    
}